<div class="jumbotron">
  <div class="heading">
       <div class="col">Caps</div>
       <div class="col">Qunatity </div>
       <div class="col">Price($) </div>
  </div>
  <div class="table-row" ng-repeat="product in visibleData | pageFilter:currentPage*pageSize | limitTo:pageSize">

      <div class="col">{{product.Name}}</div>

      <div class="col quantity" data-product="{{product}}"  id="{{product.Id}}_Qty"  ng-mouseenter='mouseEntered(product)'>
          <span ng-hide="product.Name === editQtyProdName" >{{product.Qty}} </span>
          <input type="text" ng-show="product.Name === editQtyProdName" ng-model="quantity">

      </div>

      <div class="col price" data-product="{{product}}"  id="{{product.Id}}_Price">
          <span ng-hide="product.Name === editPriceProdName" >{{product.Price}} </span>
          <input type="text" ng-show="product.Name === editPriceProdName" >
      </div>


  </div>
</div>

<ul class="pagination" style="padding-left: 35%">
    <li ng-class="{'disabled':currentPage === 0}"  ng-click="prev()">
      <a>&laquo;</a>
    </li>  

    <!-- <li ng-disabled="currentPage >= visibleData.length/pageSize - 1" ng-click="next()">
      <a >...</a>
    </li> -->

    <li  ng-repeat="i in getNumber(numberOfPages) track by $index"  ng-class="{'active':currentPage ===  $index}"  ng-click="onCLickPagedNumber($index)">
        <a >{{$index+1}}</a>
    </li>

    <!-- <li ng-disabled="currentPage >= visibleData.length/pageSize - 1" ng-click="next()">
      <a >...</a>
    </li> -->
    
    <li ng-class="{'disabled':currentPage >= visibleData.length/pageSize - 1}" ng-click="next()">
      <a >&raquo;</a>
    </li>
</ul>